@model IEnumerable<CasaShow.Models.Casa>

    
<h3>Casas & Clubes <img src="/Img/local.png" width="70" height="50" ></h3>

<table width="100%" border="1px" style="background-color:white">

<thead>
    <th>Nome</th>
    <th>Endereço</th>
    <th>Editar</th>
    <th>Excluir</th>
   
</thead>

<body>

@foreach(var casa in ViewBag.CasaseClubes) 


{
    <tr>
   
    <td >@casa.Nome </td>
    <td>@casa.Endereço</td>   
    <td><a href="/Casas/Editar/@casa.Id"  ><img src="/Img/editar.png" width="35" height="35" ></a></td>    
    <td><a href="/Casas/Deletar/@casa.Id" ><img src="/Img/delete.png" width="35" height="35" ></a></td>


    </tr>
}

</body>
</table>