
 <br>
  
@{
    ViewData["Title"] =  "Contato";
}
<h1><center>@ViewData["Title"]</center></h1>

<p><Center><h5> Entre em contato com a gente através do nossostelefone ou redes sociais:</h5></center></p>

<address>

     <br>
    <br>
   
<center><div class="card" style="width: 30rem;"> 
  <div class="card-body">
   <Center><h5 title="Phone">Telefone:</h5></Center>

   <Center><img src="/Img/Whatsapp-icon.png" width="35" height="35"/> (11)95509/8822 </Center>

</center>
   </div>
   </div>

</address>
   
<br>

<center><div class="card" style="width: 30rem;"> 
  <div class="card-body">
 <Center><h5 title="Phone">Redes Sociais:</h5></Center>
<address>

    <br>

   <Center><img src="/Img/email.png" width="50" height="50" /><a href="casashow@events.com.br">casashow@events.com.br</a><br /></Center>

    <Center><img src="/Img/instagram.png" width="40" height="40" /><a href="https://www.instagram.com/casashow"><a href="https://www.instagram.com/casashow">https://www.instagram.com/casashow</a></Center>
    
   <Center><img src="/Img/facebook.png" width="40" height="40" /><a href="https://www.facebook.com/in/casashow754311196/"><a href="https://www.facebook.com/in/casashow754311196/">https://www.facebook.com/in/casashow754311196</a><br /></Center>
</center>
  </div>
</div>
</address>f