
@{
    ViewData["Title"] = "Home Page";
}



<div id="Index" class="text-center" >
    <div>
        <div style='background:url(Img/home.gif) repeat-x; width:1100px; height:200px; margin:auto; text-align:center;'>
        <br> 
        <br>

            <h1  class="display-3"    >BEM VINDO(A) À CASA SHOW</h1>
        </div>
    </div>
    
    <p><h5>  Encontre aqui o seu evento </h5></p>
</div>
<div class="row">

        <div class="col-md-4">
           
             <p><center><img src="/Img/sertanejo.png" width="300" height="200"</center></p>


            <div class="card">
             <div class="card-body">
    
            <center><h2>Show Esquenta Villa Mix</h2></center>
            <h6><center>Preço do Ingresso: R$300,00</center></h6>
            <h6><center>Data 20/04/2020</center></h6>
            <h6><center>Local: Villa Country</center></h6>
            <center><button class="btn btn-danger"><center><a href="/Home/Ingressos/">Comprar</button></center></a>
  </div>
   </div>


        </div>

    <div class="col-md-4">

            <p><center><img src="/Img/pop.png" width="300" height="200"</center></p>

            <div class="card">
            <div class="card-body">
 

            <center><h2>Show da Anitta e Convidados</h2></center>
            <h6><center>Preço do Ingresso: R$100,00</center></h6>
            <h6><center>Data 29/04/2020</center></h6>
            <h6><center>Local: Sambódrono Anhembi</center></h6>
            <center><button class="btn btn-danger"><a href="/Home/Ingressos/">Comprar</button></center></a>

        </div>
        </div>

        </div>

        <div class="col-md-4">

            <p><center><img src="/Img/pagodeiros.png" width="300" height="200"</center></p>
            

            <div class="card">
  <div class="card-body">
  
            <center><h2>Show dos Reis do Pagode</h2></center>
            
            <h6><center>Preço do Ingresso: R$200,00</center></h6>
            <h6><center>Data 17/03/2020</center></h6>
            <h6><center>Local: Espaço das Americas </center></h6>
            <center><button class="btn btn-danger"><a href="/Home/Ingressos/">Comprar</button></center></a>

  </div>
</div>

        </div>

    </div>