

@model CasaShow.Models.Show



<h2>Cadastro de Shows</h2>

<form class="form.horizontal  " asp-controller="Show" asp-action="Salvar" method="POST">
    <input type="hidden" asp-for="Id" value="0">
	<input type="text" class="form-control" asp-for="Nome" placeholder="Nome do Show">
	<input type="Datetime-local" class="form-control" asp-for="Hora" placeholder="Data">
    <input type="number" class="form-control" asp-for="Valor"placeholder="Valor">


	<label>Selecione Casa de Show</label><br>
    <select class="form-controll" asp-for="Aux" asp-items='@(new SelectList(@ViewBag.CasaseClubes, "Id", "Nome"))'></select><br>

		
		
		<label label asp-for="Categoria" class="control-label">Selecione Categoria do Evento</label>
			
			<select asp-for="Categoria" class="form-control">

				<option value="c1">--------</option>		
		
				<option value="Sertanejo">Sertanejo</option>
		
				<option value="Forró">Forró</option>
		
				<option value="Samba/Pagode">Samba/Pagode</option>
		
				<option value="pop/Funk">Pop/Funk</option>

				<option value="Rock">Rock</option>

				<option value="Eletronic">Eletronic</option> 

				<span asp-validation-for="Categoria" class="text-danger"></span>
			</select>
				 
			
		

    <button class="btn btn-success">Cadastrar</button>


</form>